:root {
    --bg-one: #F7F7F7;
    --bg-two: #ffffff;
    --bg-obj: #7a94fd;
    --primary: #191bc2;
    --color: #09061A;
    --box-shadow: 0 0 20px #252250;
    --transition: .3s ease;
    --border-radius: 20px;
}

html {
    height: 100vh;
}
body, #root, .App {
    height: 100%;
}
main {
    height: calc(100% - 56px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
a {
    transition: var(--transition);
    color: var(--primary);
}
body {
    background: var(--bg-one);
}
.button {
    color: var(--bg-one);
    padding: 0;
    margin: 0;
    border: none;
    padding: .8em;
    background-color: var(--primary);
    border-radius: var(--border-radius);
    text-decoration: none;
    display: block;
    width: fit-content;
    margin: auto;
    margin-top: 1em;
    box-shadow: var(--box-shadow);
    transition: .3s all ease;
}
.button:hover {
    color: var(--bg-one);
    box-shadow: none;
    letter-spacing: 2px;
}
.btn-primary {
    background: var(--primary);
    box-shadow: var(--box-shadow);
    border-color: var(--primary);
}
.hlt {
    color: var(--primary);
}
.btn-primary:hover {
    background: var(--bg-obj);
    color: var(--color);
}
.icon {
    transition: .3s all ease;
}
.icon:hover {
    transform: scale(1.2);
}

select, button.btn-form {
    padding: .5em;
    display: block;
    margin: auto;
    border: 1px solid #ccc;
    border-radius: var(--border-radius);
    background: var(--bg-two);
    color: var(--color);
    line-height: 1.5;
    margin-top: .5rem;
    transition: all .3s ease;
}
select:hover, button.btn-form:hover {
    border: 1px solid var(--primary);
    background: var(--bg-two);
}
button.btn-form {
    padding: .5em 1rem;
}
select:focus, button.btn-form:focus {
    outline: none;
    border: 1px solid var(--primary);
    color: var(--primary);
}
button.btn-form:focus {
    letter-spacing: 2px;
}

.finally ul li {
    font-size: 1.2rem;
}

.credits {
    font-size: 1rem;
    font-weight: 700;
    text-align: center;
    margin-top: 1rem;
}

.blobDownload {
    width: 59.59px;
    height: 59.59px;
}
.blobDownload button {
    border-radius: 50%;
    width: 100%;
    height: 100%;
}